<div >
    <div>
        <label for="">Atom Name:</label>
        <p>{{atomDetail.name}}</p>
        <p>{{atomDetail.symbol}}</p>
        <p>{{atomDetail.number}}</p>
        <p>{{atomDetail.period}}</p>
        <p>{{atomDetail.category}}</p>
        <p>{{atomDetail.appearance}}</p>
        <p>{{atomDetail.atomic_mass}}</p>
        <p>{{atomDetail.discovered_by}}</p>
        <p>{{atomDetail.shells}}</p>
        <p>{{atomDetail.source}}</p>
        <p>{{atomDetail.summary}}</p>
    </div>
</div>
